* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.divPai {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.quadrado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aliceblue;
  color: black;
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.quadradoVazio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aliceblue;
  color: black;
  padding: 29.2px;
  border: 1px solid black;
  cursor: pointer;
}

body {
  background-color: #282c34;
  color: white;
}

.link {
  text-decoration: none;
  color: #61dafb;
}

@media (max-width: 768px) {
  .fraseInicial {
    width: 90%;
    text-align: center;
  }
}
